@charset "UTF-8";
@-webkit-keyframes open {
    0% {
        opacity: 0;
        margin-top: -5%
    }
    to {
        opacity: 1;
        margin-top: 0
    }
}

@keyframes open {
    0% {
        opacity: 0;
        margin-top: -5%
    }
    to {
        opacity: 1;
        margin-top: 0
    }
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ol[class], ul[class] {
    padding: 0;
    list-style: none
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
    margin: 0
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #1f1f1f;
    color: #fff;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 20px;
    font-weight: 300
}

a:not([class]) {
    text-decoration-skip-ink: auto
}

img {
    max-width: 100%;
    display: block
}

article > * + * {
    margin-top: 1em
}

button, input, select, textarea {
    font: inherit
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: .01ms !important;
        animation-duration: .01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: .01ms !important;
        -o-transition-duration: .01ms !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important
    }
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 350px
    }
}

@media (min-width: 500px) {
    .container {
        max-width: 500px
    }
}

@media screen and (max-width: 350px) {
    .container {
        max-width: 320px
    }
}

@media screen and (max-width: 330px) {
    .container {
        max-width: 300px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1150px
    }
}

.container, .header-logo img {
    margin: auto
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Medium.eot);
    src: local("HelveticaNeueCyr-Medium"), url(../fonts/HelveticaNeueCyr-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Medium.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Heavy.eot);
    src: local("HelveticaNeueCyr-Heavy"), url(../fonts/HelveticaNeueCyr-Heavy.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Heavy.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Heavy.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-HeavyItalic.eot);
    src: local("HelveticaNeueCyr-HeavyItalic"), url(../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-HeavyItalic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-HeavyItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Black.eot);
    src: local("HelveticaNeueCyr-Black"), url(../fonts/HelveticaNeueCyr-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Black.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-UltraLightItalic.eot);
    src: local("HelveticaNeueCyr-UltraLightItalic"), url(../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-UltraLightItalic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-UltraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-BlackItalic.eot);
    src: local("HelveticaNeueCyr-BlackItalic"), url(../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-BlackItalic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-ThinItalic.eot);
    src: local("HelveticaNeueCyr-ThinItalic"), url(../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-ThinItalic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-ThinItalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-MediumItalic.eot);
    src: local("HelveticaNeueCyr-MediumItalic"), url(../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-MediumItalic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-LightItalic.eot);
    src: local("HelveticaNeueCyr-LightItalic"), url(../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-LightItalic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-UltraLight.eot);
    src: local("HelveticaNeueCyr-UltraLight"), url(../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-UltraLight.woff) format("woff"), url(../fonts/HelveticaNeueCyr-UltraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-BoldItalic.eot);
    src: local("HelveticaNeueCyr-BoldItalic"), url(../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-BoldItalic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Italic.eot);
    src: local("HelveticaNeueCyr-Italic"), url(../fonts/HelveticaNeueCyr-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Italic.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Italic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Roman.eot);
    src: local("HelveticaNeueCyr-Roman"), url(../fonts/HelveticaNeueCyr-Roman.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Roman.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Bold.eot);
    src: local("HelveticaNeueCyr-Bold"), url(../fonts/HelveticaNeueCyr-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Bold.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Light.eot);
    src: local("HelveticaNeueCyr-Light"), url(../fonts/HelveticaNeueCyr-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Light.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Thin.eot);
    src: local("HelveticaNeueCyr-Thin"), url(../fonts/HelveticaNeueCyr-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Thin.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px
    }
}

del {
    text-decoration: none
}

.submit {
    font-size: 26px
}

.online-shops-list-item a, .terms-mechanics p a, a {
    color: #fff
}

.h1 {
    font-size: 55px;
    line-height: 63px;
    margin-bottom: 40px;
    font-weight: 300
}

@media screen and (max-width: 600px) {
    .h1 {
        font-size: 30px;
        line-height: 45px
    }
}

.button {
    background: #8c0014;
    color: #fff;
    border: 0;
    padding: 18px 50px;
    font-size: 24px;
    line-height: 38px;
    cursor: pointer;
    text-decoration: none
}

.button[disabled] {
	background: #A9A9A9;
	cursor: default;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 22px;
        width: 100%;
        padding: 18px 20px;
        text-align: center
    }
}

.first-screen {
    background: -webkit-gradient(linear, left top, right top, color-stop(48%, #323030), to(transparent)), url(../images/first-screen-bg.jpg) no-repeat right;
    background: -webkit-linear-gradient(left, #323030 48%, transparent), url(../images/first-screen-bg.jpg) no-repeat right;
    background: -o-linear-gradient(left, #323030 48%, transparent), url(../images/first-screen-bg.jpg) no-repeat right;
    background: linear-gradient(to right, #323030 48%, transparent), url(../images/first-screen-bg.jpg) no-repeat right;
    background-size: auto, 55%
}

@media screen and (max-width: 600px) {
    .first-screen {
        background: #323030
    }
}

.first-screen-content {
    padding: 200px 0;
    width: 50%
}

@media screen and (max-width: 600px) {
    .first-screen-content {
        padding: 80px 0;
        width: 100%;
        text-align: center
    }
}

.first-screen-content__description {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 40px
}

@media screen and (max-width: 600px) {
    .first-screen-content__description {
        font-size: 18px;
        line-height: 1.5
    }
}

.catalog-top-text {
    margin: 90px 0
}

@media screen and (max-width: 600px) {
    .catalog-top-text {
        margin: 45px 0
    }
}

.catalog-top-text p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px
}

.catalog__how-to {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 40px
}

@media screen and (max-width: 600px) {
    .catalog__how-to {
        font-size: 22px;
        line-height: 1.5
    }
}

.catalog-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px
}

@media screen and (max-width: 600px) {
    .catalog-categories {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.catalog-categories img {
    -webkit-box-shadow: 0 0 7px 7px rgba(25, 25, 25, .75);
    box-shadow: 0 0 7px 7px rgba(25, 25, 25, .75)
}

@media screen and (max-width: 600px) {
    .catalog-categories img {
        margin-bottom: 40px
    }
}

.catalog #half a {
    width: 48%
}

.catalog #half a img, .catalog-set-item__pic img {
    width: 100%
}

@media screen and (max-width: 600px) {
    .catalog #half a {
        width: 100%
    }
}

.catalog-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.catalog-set-item {
    background: #2f2f2f;
    width: 48%;
    padding: 50px
}

@media screen and (max-width: 600px) {
    .catalog-set-item {
        width: 100%;
        padding: 30px
    }
}

.catalog-set-item__type {
    margin-bottom: 30px;
    text-decoration: underline
}

.catalog-set-item__pic {
    margin-bottom: 35px
}

.catalog-set-item__name {
    margin-bottom: 25px
}

.catalog-set-item__price {
    margin-bottom: 35px
}

.catalog-set-item__price del {
    color: #6d6d6d;
    margin-left: 5px
}

.catalog-set-item .button {
    width: 100%;
    display: block;
    text-align: center
}

.catalog-string {
    text-align: center;
    padding: 25px;
    background: #2f2f2f;
    margin: 30px 0 50px
}

.order {
    background: #fff;
    color: #1f1f1f;
    padding: 90px 0 110px
}

@media screen and (min-width: 1000px) {
    .order .h1 {
        width: 85%
    }
}

.order-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.order-form .button, .order-form input {
    width: 48%
}

.order-form .button, .order-form input {
    display: block;
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #a7a7a7;
    line-height: 1
}

.order-form p {
	text-align: center;
	margin: auto;
}

.order-form p input {
	display: inline-block;
	width: auto;
}

.order-form p a {
	color: #000000;
}

@media screen and (max-width: 600px) {
    .order-form .button, .order-form input {
        width: 100%
    }
}

.advantages-slider-item__image img, .order-form .button {
    width: 100%
}

.order-form p {
    text-align: center;
    margin: auto
}

.order-form p input {
    width: auto
}

.order-map {
    margin-top: 80px;
	padding-bottom: 80px;
	height: 500px;
}

.online-shops {
    padding-top: 100px
}

.online-shops-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.online-shops-list-item__link, .online-shops-list-item__tel {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.online-shops-list-item__tel a {
    text-decoration: none
}

.online-shops-list-item__link:before, .online-shops-list-item__tel:before {
    content: url(../images/phone.png);
    margin-right: 10px;
    display: block;
    line-height: 0
}

.online-shops-list-item__link {
    margin-bottom: 20px
}

.online-shops-list-item__link:before {
    content: url(../images/cart.png)
}

@media screen and (max-width: 1000px) {
    .online-shops-list-item {
        width: 50%;
        margin-bottom: 50px
    }
}

@media screen and (min-width: 1000px) {
    .online-shops-list--main .online-shops-list-item {
        width: 20%
    }
}

.online-shops-list--extended {
    background: #fff;
    padding: 30px;
    position: relative
}

@media screen and (max-width: 1000px) {
    .online-shops-list--extended {
        padding: 15px
    }
}

.online-shops-list--extended:before {
    height: 0;
    bottom: 100%;
    left: calc(50% - 20px);
    width: 0;
    content: '';
    display: block;
    position: absolute;
    border-bottom: 20px solid #fff;
    border-top: 20px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent
}

.online-shops-list--extended a {
    color: #000
}

@media screen and (max-width: 600px) {
    .online-shops-list--extended a {
        font-size: 12px
    }
}

.online-shops-list--extended .online-shops-list-item {
    padding-top: 30px;
    padding-bottom: 30px
}

@media screen and (min-width: 1000px) {
    .online-shops-list--extended .online-shops-list-item {
        width: 25%
    }
}

@media screen and (max-width: 1000px) {
    .online-shops-list--extended .online-shops-list-item {
        margin-bottom: 0
    }
}

.online-shops-list--extended .online-shops-list-item:not(:last-child) {
    border-bottom: 1px solid #eaeaea
}

.online-shops-list--extended .online-shops-list-item__link {
    margin-bottom: 10px
}

.online-shops .show-more-shops {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 40px auto
}

@media screen and (max-width: 600px) {
    .online-shops .show-more-shops {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.online-shops details summary {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.online-shops details summary::-webkit-details-marker {
    display: none
}

.online-shops details summary:after {
    content: url(../images/arrow-bottom.svg);
    -webkit-transition-duration: .4s;
    -o-transition-duration: .4s;
    transition-duration: .4s;
    margin-left: 15px;
    display: block
}

.online-shops details[open] summary:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.online-shops details[open] summary ~ * {
    -webkit-animation: open .5s ease-in-out;
    animation: open .5s ease-in-out
}

.terms {
    padding-top: 80px;
    color: #a9a9a9;
    font-size: 16px
}

.terms-list {
    margin: 25px 0 50px;
    display: block
}

.terms-list__item {
    margin-bottom: 5px;
    position: relative;
    margin-left: 35px
}

.terms-list__item:before {
    content: '—';
    position: absolute;
    left: -33px
}

.terms-mechanics {
    margin: 50px 0
}

.terms-mechanics p {
    margin-bottom: 7px
}

.footer {
    color: #bfbfbf
}

.footer .container {
    padding: 50px 0 85px;
    border-top: 1px solid #bfbfbf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width: 600px) {
    .footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.footer-info {
    width: 45%;
    font-size: 16px
}

@media screen and (max-width: 600px) {
    .footer-info {
        width: 100%
    }
}

.footer-info p {
    margin-bottom: 30px
}

.footer-info p a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: #fff
}

.footer-links-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer-links-social a {
    display: block;
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .footer-links-social a {
        margin-left: 0;
        margin-right: 20px
    }
}

.footer-links-social a img {
    max-height: 28px
}

.footer-links-mail {
    margin-top: 25px;
    text-align: right
}

@media screen and (max-width: 600px) {
    .footer-links-mail {
        text-align: left
    }
}

.footer-links-mail a {
    color: #fff;
    font-size: 22px
}

* {
    outline: 0
}

@font-face {
    font-family: 'helveticaneuecyr-light';
    src: url('../fonts/helveticaneuecyr-light.eot?') format('eot'),
    url('../fonts/helveticaneuecyr-light.woff') format('woff'),
    url('../fonts/helveticaneuecyr-light.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-light.svg#webfontZPnuZIZf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyr-roman';
    src: url('../fonts/helveticaneuecyr-roman.eot?') format('eot'),
    url('../fonts/helveticaneuecyr-roman.woff') format('woff'),
    url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'),
    url('../fonts/helveticaneuecyr-roman.svg#webfontZPnuZIZf') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1920px;
    min-width: 320px;
    box-sizing: border-box;
    background: #1F1F1F;
}

* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    border: 0;
}

img {
    border: 0;
}

.clear {
    clear: both;
}

.wsn {
    white-space: nowrap;
}

div.content {
    padding: 0 15px;
    margin: 0 auto;
    width: 1030px;
    max-width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.btn {
    display: block;
    background: #8C0014;
    font-family: helveticaneuecyr-roman, Arial, sans-serif;
    font-size: 24px;
    line-height: 60px;
    color: #fff;
    padding: 0;
    margin: 0px auto 60px;
    border-style: none;
    cursor: pointer;
    transition: opacity .2s ease-out;
    white-space: nowrap;
    height: 60px;
    width: 512px;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
}

#top {
    position: absolute;
    top: 0;
    width: 100%;
    /*background: #191B20;*/
    margin: 0;
    padding: 0;
    display: block;
}


.btn:hover {
    opacity: 0.9;
}

#top a.logo {
    width: 157px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

#top a.logo img {
    width: 157px;
    margin: 0 auto;
    padding: 0;
    display: block;
}


#banner {
    width: 100%;
    /*background: url(../img/bg_1.jpg) #191B20;*/
    background: url(../img/bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#banner .content {
    display: table;
}

#banner .mid {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 730px;
    margin: 0 auto;
    padding: 0 0 15px 0;
    box-sizing: border-box;
}

#banner .mail_title {
    display: block;
    max-width: 700px;
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 55px;
    line-height: 63px;
    text-shadow: 0px 0px 33px rgba(0, 0, 0, 0.55);
    font-weight: 300;
}

#banner .btn {
    margin: 25px 0 0 0;
    width: 310px;
}


#hi {
    width: 100%;
    padding: 70px 0 10px;
}

#hi .title {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 55px;
    line-height: 63px;
    font-weight: 300;
    margin: 20px 0 0 0;
    padding: 0;
}

#hi .txt {
    font-family: helveticaneuecyr-roman, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0;
}


#var {
    width: 100%;
    padding: 0;
}

#var .content {
    width: 1070px;
    text-align: center;
}

#var .tovar {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 485px;
    max-width: 100%;
    padding: 40px 40px 55px 40px;
    margin: 30px 15px 0;
    box-sizing: border-box;
    background: #2F2F2F;
    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.55);
    text-align: left;
}

#var .tovar .pic_link {
    display: block;
    width: 100%;
    margin: 0 auto 45px auto;
    text-align: center;
}

#var .tovar .pic_link img {
    width: 385px;
    max-width: 100%;
}

#var .name, #var .price {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin: 0 0 30px 0;
    padding: 0;
}

#var .old {
    color: #6D6D6D;
}

#var .btn {
    margin-bottom: 0;
}


#info {
    width: 100%;
    padding: 0;
}

#info .btn {
    margin-top: 30px;
}

#info .content {
    width: 1070px;
    text-align: center;
}

#info .fact {
    width: 100%;
    display: block;
    margin: 35px 0 0 0;
    padding: 0;
}

#info .fact img {
    width: 485px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
    padding: 0;
}

#info .fact .txt_block {
    width: 485px;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
    padding: 0;
    text-align: left;
}

#info .fact .title {
    font-family: helveticaneuecyr-roman, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0;
}

#info .fact .txt {
    font-family: helveticaneuecyr-roman, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}


#end {
    width: 100%;
    padding: 60px 0 30px;
}

#end .title {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 55px;
    line-height: 63px;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0;
}

#end .txt {
    font-family: helveticaneuecyr-roman, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin: 0 0 10px 0;
    padding: 0;
}

#end .btn {
    width: 350px;
    margin-bottom: 80px;
}


#footer {
    width: 1030px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 15px 40px;
}

#footer .content {
    display: table;
    width: 100%;
    max-width: 100%;
    padding: 30px 0 0 0;
    border-top: 1px solid #6D6D6D;
}

#footer .content .left, #footer .content .right {
    display: table-cell;
    padding: 20px 0 0 0;
}

#footer .content .right {
    width: 220px;
    text-align: right;
    padding: 0 0 0 20px;
}

#footer .txt {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #BFBFBF;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    width: 450px;
    max-width: 100%;
    text-align: left;
}

#footer .link {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

#footer .linkm {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: left;
    text-decoration: underline;
}

#footer .linkm:hover {
    text-decoration: none;
}

#footer .social {
    margin: 0 0 25px 0;
    text-align: right;
}

#footer .social a {
    display: inline-block;
    padding: 0;
    margin: 0 22px 0 0;
    vertical-align: middle;
    transition: opacity .2s ease-out;
    text-decoration: none;
}

#footer .social a:hover {
    opacity: 0.9;
}

#footer .social a.last {
    margin: 0;
}


#copy {
    width: 100%;
    padding: 10px 0 20px;
    background: #101217;
}

#copy .content {
    display: table;
    max-width: 100%;
}

#copy .content .left, #copy .content .right {
    display: table-cell;
    padding: 10px 0 0 0;
}

#copy .content .right {
    width: 180px;
    text-align: left;
    padding: 0 0 0 20px;
}

#copy .txt {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #E0E0E0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: left;
}

#copy .link {
    font-family: helveticaneuecyr-light, Arial, sans-serif;
    color: #E0E0E0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    text-align: left;
}

#copy .link:hover {
    text-decoration: none;
}


@media (max-width: 1070px) {

    #var .content {
        padding: 0;
    }

    #var .tovar {
        width: 46%;
    }


    #info .content {
        padding: 0;
    }

    #info .fact {
        width: 100%;
        display: block;
        margin: 35px 0 0 0;
        padding: 0;
    }

    #info .fact img {
        width: 46%;
    }

    #info .fact .txt_block {
        width: 46%;
    }

    #info .fact .title {
        font-size: 26px;
        line-height: 36px;
    }

    #info .fact .txt {
        font-size: 16px;
        line-height: 24px;
    }


}


@media (max-width: 1030px) {

    #banner .content {
        display: block;
    }

    #footer {
        width: 100%;
    }

    #copy .content {
        width: 100%;
    }

}


@media (max-width: 820px) {

    #banner .mail_title {
        font-size: 48px;
        line-height: 58px;
    }

    #banner .mid {
        padding: 90px 0px 120px;
        height: auto;
    }

    #hi .title {
        font-size: 34px;
        line-height: 42px;
    }

    #hi .txt {
        font-size: 16px;
        line-height: 26px;
    }

    #var .name, #var .price {
        font-size: 16px;
        line-height: 26px;
    }

    #end .title {
        font-size: 34px;
        line-height: 42px;
    }

    #end .txt {
        font-size: 16px;
        line-height: 26px;
    }

    #var .content {
        padding: 0 15px;
    }

    #var .tovar {
        width: 100%;
        margin: 30px auto 0;
        padding: 20px 20px 30px 20px;
    }

    #var .btn {
        width: 100%;
    }


    #info .content {
        padding: 0 15px;
    }

    #info .fact {
        width: 100%;
        display: block;
        margin: 35px 0 0 0;
        padding: 0;
    }

    #info .fact img {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 15px 0 0 0;
    }

    #info .fact .txt_block {
        width: 100%;
        margin: 15px 0 25px 0;
    }

}


@media (max-width: 700px) {

    #banner .mail_title {
        font-size: 7vw;
        line-height: 9vw;
    }

    #footer {
        padding: 40px 15px 40px;
    }

    #footer .content .left, #footer .content .right {
        display: block;
        padding: 20px 0 0 0;
        width: 100%;
        text-align: left;
    }

    #footer .social {
        margin: 0 0 20px 0;
        text-align: left;
    }

    #footer .txt {
        width: 100%;
    }

}

@media (max-width: 550px) {

    .btn {
        font-size: 18px;
    }

}


@media (max-width: 480px) {

    #banner .mid {
        padding: 50px 0px 70px;
        height: auto;
    }

    #banner .btn {
        width: 100%;
    }

    #footer .txt {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 10px 0;
    }

    #footer .link {
        font-size: 18px;
        line-height: 26px;
    }

    #footer .linkm {
        font-size: 18px;
        line-height: 26px;
    }

    .btn {
        font-size: 14px;
        line-height: 46px;
        height: 46px;
        margin: 0px auto 40px;
    }


    #hi .title {
        font-size: 28px;
        line-height: 36px;
    }

    #hi .txt {
        font-size: 15px;
        line-height: 22px;
    }

    #var .name, #var .price {
        font-size: 15px;
        line-height: 22px;
    }

    #end .title {
        font-size: 28px;
        line-height: 36px;
    }

    #end .txt {
        font-size: 15px;
        line-height: 22px;
    }

    #info .fact .title {
        font-size: 22px;
        line-height: 30px;
    }

    #info .fact .txt {
        font-size: 15px;
        line-height: 22px;
    }

}
.order-form .button, .order-form .id{
    /*display: none;*/
}